.chatroom-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messages {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    position: relative;
}

.message-wrapper {
    
    display: flex;
    width: 10;
    justify-content: flex-start;
    position: relative;
}

.message-box {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    word-wrap: break-word;
    max-width: 50%;
}

.message-box textarea {
    width: auto;
    max-width: 70%;
    min-width: 50px;
    word-wrap: break-word;
}

.message-box .dropdown {
    position: absolute;
    right: -30px; /* Adjust based on your padding */
    top: 50%;
    transform: translateY(-30%);
    transform: translateX(25%);
    margin-left: 0px; /* Space between text and dropdown */
    z-index: 50;
}

.message-box .dropdown-menu {
    position: absolute;
    min-width: auto;
    width: auto;
    z-index: 55;
}

.message-box.bg-primary {
    background-color: #007bff;
}

.message-box.bg-success {
    background-color: #28a745;
}